
body {
    background: var(--col_bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: var(--col_fg);
    flex-direction: row;
}

header {
    margin: 8px;
    display: flex;
    background-color: var(--col_ibg);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.links {
    text-align: center;
}

.link-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-li {
    display: inline-block;
    padding: 10px;
}

.link-li a {
    text-decoration: none;
    color: var(--col_universal_a);
    font-weight: bold;
    font-size: 16px;
}

main{
    display: flex;
    flex: 1;
}

