:root {
    --col_bg: #18181f;
    --col_ibg: #37374d;
    --col_fg: #e7e7e7e0;

    /*Blue varients */
    --col_db: #37377d;
    --col_b: #3737fd1c;
    --col_lb: #1717fd;
    /*relative percentage*/
    --g_rel: 5.5%;

    /*content-max width*/
    --cont-wmax: 750px;
}

* {
    font-family: monospace;

    box-sizing: border-box;
    /*    border:1px solid #ff000077;*/
    color: var(--col_fg);
}


body {
    background: var(--col_bg);
    display: block;
    margin: 8px;
    border: 1.5px solid var(--col_bg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    background: var(--col_bg);
    justify-content: start;
    align-items: start;
    justify-items: stretch;
}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

.hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 2.5rem;
    top: 15px;
    left: 20px;
    text-align: center;
    z-index: 1;
}




.sidebar>div {
    padding: 4px 28px 4px 18px;
}

/*
.sidebar>div>p{
    margin: 0.5rem;
}
*/

hr {
    border: 1px solid var(--col_ibg);
}

.hori_line {

    margin: 0px 15px 0px 0px;
}

.small_pix {
    width: 250px;
    max-width: 100%;
    height: 200px;
}

.small_pix .sidebar_pix {
    display: flex;
    font-style: italic;
    font-size: 1.5em;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
    background-image: url(/static/img/low_side_pp.jpeg);
    background-repeat: round;
    border-radius: 10%;
}

.name_alias_box {
    display: flex;
    font-size: 1.5em;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.sb_topic {
    background: calc(var(--col_bg)-10);
    transition: all ease-in 0.3s;
    max-width: 100%;
    padding: 0px 1.5%;
    word-wrap: break-word;
}

.sb_topic:hover {
    cursor: pointer;
    margin: 0px var(--g_rel) 0px 0px;
    background: var(--col_ibg);
}

.content-holder {
    display: block;
    grid-template-rows: 1fr 9fr;
    /* width: 100%; */
    min-width: 100%;

}

.content-title {
    display: flex;
    height: clamp(50px, 100px, 10vh);
    border: var(--col_ibg) solid 1px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    padding: 1vh;
    border: var(--col_ibg) solid 1px;
    min-height: calc(100vh - 13vh);
    flex-wrap: wrap;
    grid-gap: 1vh;
    justify-content: space-between;
    /* overflow: scroll; */
}

* ::-webkit-scrollbar {
    width: 0.5svw;
    background-color: var(--col_bg);
}

* ::-webkit-scrollbar-thumb:hover {
    width: 0.5svw;
    background-color: var(--col_b);
}

/*
  Git Style(Start)
*/

.git_repo {
    display: flex;
    padding: 5px;
    max-width: 100%;
    min-height: 195px;
    min-width: 200px;
    word-wrap: break-word;
    border: solid 1px var(--col_ibg);
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.git_repo>*>*>.title {
    font-size: 1.3rem;
    padding: 10px 0px 0px 5px;
    text-transform: uppercase;
}

.git_repo>*>*>.title>a {
    color: #af8eff;
}

.repo_topics:empty {
    display: none;
    background: red;
}

.git_repo>*>.repo_topics {
    color: #bcbcef;
    margin-top: 12px;
    padding: 10px 0px 11px 10px;
    background: #1d1d28;
}


.git_repo>*>*>.note {
    font-size: clamp(0.85rem, 1rem, 1.5rem);
    font-family: monospace;
    padding: 0px 0px 0px 7px;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.git_repo>.middle_part {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.repo_description {
    flex: 1;
    padding: 5px 0px 5px 5px;
    max-width: 100%;
}

.git_repo>*>*>.subtitle {
    height: calc(2rem + 10px);
    padding: 5px 0px 5px 5px;
    flex-wrap: wrap;
    color: #9393d6;
}

.repo_misc>.misc_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.repo_misc>div {
    padding-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    /* align-content: stretch; */
}

.repo_description {
    max-width: 100%;
}

.repo_misc>div>* {
    margin-left: 5px;
    font-family: sans-serif;
}

.repo_misc>*>div>a {
    text-decoration: none;
    font-family: sans-serif;
}

/*
  Git Style(End)
*/

/*
    Digital FootPrint(Start)
*/

.socials {
    display: flex !important;
}

#social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
}

div#link {
    display: flow;
    max-width: 100%;
    margin: 14px;
    padding: 12px;
    font-size: clamp(1rem, 1.5rem, 2.5rem);
}

div#link i {
    padding: 0px 23px;
}

div#link a {
    text-decoration: none;
    padding: 0px 23px;
    transition: ease-in-out 100ms;
}

div#link a:-webkit-any-link:focus-visible,
div#link a:hover,
div#link a:-webkit-any-link:active {
    color: #7676ca;
    outline-offset: 1px;
    box-shadow: 0 0 20px 0px #7373d8;
    padding: 10px 20px 9px 3px;
    border-radius: 15px;
}

/*
    Digital FootPrint(End)
*/


/*
    Profile(Start)
*/


.profile {
    flex: 1;
    display: grid;
    gap: 10px;
    max-width: 100%;
    grid-auto-rows: clamp(1.5rem,3rem,4rem) auto 2rem;
}

.profile section {
    box-shadow: 1px 1px 4px #cececf82, inset -3px -3px 1px 0px #ffffff5c;
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    border: solid #37374d 1px;
    border-radius: 10px;
    width: 100%;
}

.profile .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.profile .title {
    font-weight: bold;
    font-size: 1.1rem;
}


.profile .sechead {
    display: flex;
    grid-row: 1;
    height: clamp(1rem,4rem,3rem);
    font-size: clamp(1rem,1.6rem,2rem);
    align-items: center;
    justify-content: space-around;
}

.profile .secbody {
    padding-left: clamp(0.5rem,1rem,10%);
    display: grid;
    grid-template-columns: max(9rem,30%) max(1rem,calc(60.6% - 10px));
}
.profile .row {
    padding: 0px 10px;
    margin: 2px 0px;
    grid-column: 1/3;
    height: clamp(2rem,100%,200%);
    display: grid;
    /* align-content: space-between; */
    grid-template-columns: subgrid;
    align-items: center;
}

a {
    color: #9696d5;
}
.profile .row:hover{
    background: #262630;
}
.profile .row .data text {
    padding: 1px 3px;
    margin: 9px 2px;
    border-radius: 3px;
    background: #363652;
}
.profile .row .data text:hover {
    cursor: default;
}
.profile .row .data span {
    background: #25252c;
    padding: 1px 6px;
    text-align: center;
    border-radius: 5px;
}
.profile .row .data span:hover {
    background: #2f2f5f;
    cursor: copy;
}
.profile .foot {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
.profile .foot small {
    color: #585868;
}
.profile .ed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profile .ed_title {
    display: flex;
    font-weight: bold;
    color: #9494e9;
    flex-direction: column;
}
.profile .ed_title small {
    margin: 5px 20px;
    font-style: italic;
    color: #68689e;
}

.profile .ed_desc {
    display: flex;
    font-weight: bold;
    color: #9494e9;
    flex-direction: column;
}
.profile .ed_desc p {
    margin: 0px;
    padding: 10px;
    font-size: small;
    color: #a6a6b0;
}


/*
    Profile(End)
*/


/*
    Certification(Start)
*/
.certificates {
    display: grid;
    grid-template-columns: clamp(1rem,70px,10%)  clamp(1rem,800px,10%)  clamp(1rem,70px,10%);
/*    grid-template-columns: 1fr 8fr 1fr;*/
    grid-template-rows: 100%;
}

.img_block {
    width: 100%;
    grid-row: 1;
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid; 
    justify-items: start;
    align-items: center;
    justify-content: space-evenly;
}
.img_block img {
    max-width: 100%;
    width: 666px;
    height: 576px;
    
}

.left::after {
    grid-column: 1;
    content: "<";
    font-size: 4rem;
    color: rebeccapurple;
}
.right::before {
    grid-column: 3;
    content: ">";
    font-size: 4rem;
    color: rebeccapurple;
}
.left,.right,.certificates img{
    grid-row: 1/-1;
}
.left{
    grid-column: 1;
}

.right{
    grid-column: 3;
}

.certificates img{
    grid-column: 1/-1;
    width: 100%;
    width: 800px;
}

/*
    Certification(End)
*/




/* Media Queries */

@media(max-width:950px) {
    .content {
        grid-template-columns: auto auto;
    }
}

@media(max-width:450px) {
    .content {
        grid-template-columns: auto;
    }

    .profile tbody {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media(max-width:750px) {
    .content {
        display: grid;
        max-width: var(--cont-wmax);
        align-content: space-between;
        justify-content: start;
        align-items: stretch;
        justify-items: stretch;
    }

    .content-title {
        max-width: var(--cont-wmax);
    }

    .container {
        max-width: var(--cont-wmax);
        display: block;
    }

    .hamburger {
        display: block;
    }

    .sidebar {
        display: none;
        position: fixed;
        background: #14141cfc;
        box-shadow: 1px 1px 20px 2px #1e2235;
        max-width: 50%;
        min-width: 250px;
        height: 100svh;
    }

    .small_pix .sidebar_pix {
        max-width: 400px;
        min-width: 200px;
    }
}